<link rel="stylesheet" href="/css/home.css" >
    <!--This is used to add partials created by underscore naming  -->
   

    <h1 id="homeHead">Codial / Home</h1>
    <section>
        <% if( locals.user ){ %>
            
            <form action="/posts/create" method="POST">
                <textarea name="content" cols="50" rows="10" placeholder="write a post..."></textarea>
                <input type="submit" value="Post">
            </form>
            
        <% } %> 
    </section>

    <section id="post-container">
        <% for(post of posts) { %>

            
            
            <div class="post" >
                <span>
                    <a class = 'delete-post-btn' href="/posts/destroy/<%= post._id %>">X</a>
                </span>
                
                <h3>
                    <%= post.content %> 
                </h3>
                <p>
                    <%= post.user.name  %> 
                </p>

                <div  class="post-comments"> 
                    <% if(locals.user) { %>
                        <form action="/comments/create" methode="POST">
                            <input type="text" name="content" placeholder="type comments..">
                            <input type="hidden" name="post" value="<% post._id %>">
                            <input type="submit" value="Add Comments">
                        </form>
                        <%} %> 
            
                </div>
                
            </div>
            
        <% } %> 

    </section>

 