div{
   background-color: rgb(59, 122, 59);
    display: flex;
    justify-content: space-between;
    
 h1{
   margin: 5px 20px;
 }
  
}
ul{
    display: flex;
    margin: 5px;
    li{
        margin:2px 20px;
        list-style: none;
        padding-top: 5px;
        a{
        text-decoration: none;
        }
    }
}