#nav {
  background-color: #3b7a3b;
  display: flex;
  justify-content: space-between; }
  #nav #header {
    margin: 5px 20px; }
  #nav ul {
    display: flex;
    margin: 5px; }
    #nav ul li {
      margin: 2px 20px;
      list-style: none;
      padding-top: 5px; }
      #nav ul li a {
        text-decoration: none; }
