div {
  background-color: #3b7a3b;
  display: flex;
  justify-content: space-between; }
  div h1 {
    margin: 5px 20px; }

ul {
  display: flex;
  margin: 5px; }
  ul li {
    margin: 2px 20px;
    list-style: none;
    padding-top: 5px; }
    ul li a {
      text-decoration: none; }
